
<!-- <img src="https://rukminim1.flixcart.com/flap/1688/280/image/3f1a9f33ccaf2c0e.jpeg?q=50"> -->

<nav class="navbar navbar-default " id="nav">
    <div class="container-fluid" >
      <ul class="nav navbar-nav">
        <li><a routerLink="mobiles">
            <div><img src="assets/mob.jpg" style="height:80px"></div>
            <div class="mob">Mobiles</div></a>
        </li>
        <li><a routerLink="fashion">
            <div><img src="assets/fashion.png" style="height:80px"></div>
            <div class="mob">Fashion</div></a>
        </li>
       <li><a routerLink="electronics">
           <div><img src="assets/ele.png" style="height:80px"></div>
           <div class="mob">Electronics</div></a>
        </li>
         <li><a routerLink="travel">
            <div><img src="assets/travel.png" style="height:80px"></div>
            <div class="mob">Travel</div></a>
        </li>
        <li><a routerLink="appliances">
            <div><img src="assets/app.png" style="height:80px"></div>
            <div class="mob">Appliances</div></a>
    </li>
        <li><a routerLink="furniture">
           <div> <img src="assets/furniture.png" style="height:80px"></div>
           <div class="mob">Furniture</div></a>
    </li>
        <li><a routerLink="toys">
        <div> <img src="assets/toys.png" style="height:80px"></div>  
        <div class="mob">Toys</div></a>
    </li>
        <li><a routerLink="grocery">
        <div> <img src="assets/grocery.png" style="height:80px"></div>   
        <div class="mob">Grocery</div></a>
    </li> 
      </ul>
    </div>
  </nav>
